<div class="game-container">
    <div class='game-content'>
        <div ng-show="showOverlay" ng-click="playGameFoodController.startGameTouch()" class='game-instructions-overlay'>
            <div class="game-instructions-overlay-content">
                <h3 class='game-instructions-overlay-header'>Instructions</h3>
                <ol type="1">
                    <li>Position your fingers on the dark green areas on each side of the screen. </li>
                    <li>Start the game by tapping anywhere on the screen. </li>
                    <li>The first food image will appear one second after.</li>
                </ol>
            </div>
        </div>
        <div class='game-touch-area game-touch-area-left' ng-click="sideTouchAreasDisabled || 
        playGameFoodController.playerTouch(playGameFoodController.leftTouchItem.id, playGameFoodController.rightTouchItem.id, playGameFoodController.displayedItem.food_id, playGameFoodController.leftTouchItem.id, playGameFoodController.displayedItem.attribute_category_id)">
            <span class='game-touch-area-left-attribute'>{{playGameFoodController.leftTouchItem.name}}</span>
        </div>
        <div class='game-middle-screen'>
            <div class='game-nav-buttons'>
                <a href="#/play" class="game-nav-btn btn-base">New Game</a>
                <a href="#/main-menu" class="game-nav-btn btn-base">Main Menu</a>
            </div>

            <div ng-show="showStimulus" class='game-stimulus'>
                <img class='game-stimulus-image' ng-src="img/game_images/{{playGameFoodController.displayedItem.name}}.png" />
            </div>
            <div class='game-error' ng-show="showError">X</div>
            <div class='game-points'>
                Score: x
                <br /> Difference in milliseconds: {{playGameFoodController.differenceMilliseconds}}
            </div>
        </div>

        <div class='game-touch-area game-touch-area-right' ng-click="sideTouchAreasDisabled || 
        playGameFoodController.playerTouch(playGameFoodController.leftTouchItem.id, playGameFoodController.rightTouchItem.id, playGameFoodController.displayedItem.food_id, playGameFoodController.rightTouchItem.id, playGameFoodController.displayedItem.attribute_category_id)">
            <span class='game-touch-area-right-attribute'>{{playGameFoodController.rightTouchItem.name}}</span>
        </div>
    </div>
</div>