<div class="game-container">
    <div class='game-content'>
        <div ng-show="showOverlay" ng-click="playGameAttributeController.startGameTouch()" class='game-overlay'>
            <div class="game-overlay-content">
                <h3 class='center-content'>Instructions</h3>
                <ol type="1">
                    <li>Place your fingers on the dark green areas. </li>
                    <li>Start the game by tapping either of the dark green areas. </li>
                    <li>The first word will appear after one second. </li>
                    <li>If you answer incorrectly, tap the correct side of the screen to continue the game.</li>
                </ol>
            </div>
        </div>
        <div class='game-touch-area game-touch-area-left'>
            <a class='game-touch-area-link' ng-click="sideTouchAreasDisabled || 
        playGameAttributeController.playerTouch(playGameAttributeController.leftTouchItem.attribute_category_id)">
                <img class='game-touch-area-attribute-image game-touch-area-left-attribute' ng-src="img/game_images/{{playGameAttributeController.leftTouchItem.name}}.png" />
            </a>
        </div>
        <div class='game-middle-screen'>
            <div ng-show="showStimulus" class='game-stimulus-text'>
                <span>{{playGameAttributeController.displayedItem.name}}</span>
            </div>
            <div class='game-error' ng-show="showError">X</div>            
        </div>

        <div class='game-touch-area game-touch-area-right'>
            <a class='game-touch-area-link' ng-click="sideTouchAreasDisabled || 
        playGameAttributeController.playerTouch(playGameAttributeController.rightTouchItem.attribute_category_id)">
                <img class='game-touch-area-attribute-image game-touch-area-right-attribute' ng-src="img/game_images/{{playGameAttributeController.rightTouchItem.name}}.png" />
            </a>
        </div>
    </div>
    <navigation></navigation>
</div>