<div class="game-container">
    <div class='game-content'>
        <!-- muuta 'left' -->


        <div ng-show="showOverlay" ng-click="playGameController.startGameTouch()" class='game-instructions-overlay'>
            <div class="game-instructions-overlay-content">
                <h3 class='game-instructions-overlay-header'>Instructions</h3>
                <ol type="1">
                    <li>Position your fingers on the dark green areas on each side of the screen. </li>
                    <li>Start the game by tapping anywhere on the screen. </li>
                    <li>The first food image will appear one second after.</li>
                </ol>
            </div>
        </div>


        <div class='game-touch-area game-touch-area-left' ng-click="sideTouchAreasDisabled || playGameController.playerTouch(playGameController.leftCategory.name, playGameController.displayedFood.name, playGameController.displayedFood.attribute_category_id, playGameController.leftCategory.id)">
            <span class='game-touch-area-left-attribute'>{{playGameController.leftCategory.name}}</span>

            <!-- playGameController.leftAreaStimulus.name -->
        </div>
        <div class='game-middle-screen'>
            <div class='game-nav-buttons'>
                <a href="#/play" class="game-nav-btn btn-base">New Game</a>
                <a href="#/main-menu" class="game-nav-btn btn-base">Main Menu</a>
            </div>

            <div ng-show="showStimulus" class='game-stimulus'>
                <img class='game-stimulus-image' ng-src="img/game_images/{{playGameController.displayedFood.name}}.png" />
                <!--img class='game-stimulus-image' ng-src="img/game_images/asparagus.png" />-->
            </div>
            <div class='game-error' ng-show="showError">X</div>
            <div class='game-points'>
                Score: x
                <br /> Difference in milliseconds: {{playGameController.differenceMilliseconds}}
                <!-- playGameController.currentPoints -->
            </div>
        </div>
        <div class='game-touch-area game-touch-area-right' ng-click="sideTouchAreasDisabled || playGameController.playerTouch(playGameController.rightCategory.name, playGameController.displayedFood.name, playGameController.displayedFood.attribute_category_id, playGameController.rightCategory.id)">
            <span class='game-touch-area-right-attribute'>{{playGameController.rightCategory.name}}</span>
            <!-- playGameController.rightAreaStimulus.name -->
        </div>
    </div>
</div>

<!--
    <div ng-controller="playCtrl as playController">


        <div class="row first-row game-row">
            <div class="col-xs-3" ng-click="playerTouch(left)">
                Unhealthy
            </div>
            <div class="col-xs-6">
                <img ng-src="img/game_images/{{displayedFood()}}.png" width="32" height="32" />
            </div>
            <div class="col-xs-3" ng-click="playerTouch(right)">
                Healthy
            </div>
        </div>




    </div>
    -->