<div class="game-container">
    <div class='game-content'>
        <div ng-show="showOverlay" ng-click="playGameAttributeController.startGameTouch()" class='game-instructions-overlay'>
            <div class="game-instructions-overlay-content">
                <h3 class='game-instructions-overlay-header'>Instructions</h3>
                <ol type="1">
                    <li>Position your fingers on the dark green areas on each side of the screen. </li>
                    <li>Start the game by tapping anywhere on the screen. </li>
                    <li>The first word will appear after one second in the middle of the screen.</li>
                    <li>If you answer incorrectly, tap the correct side of the screen to continue the game.</li>
                </ol>
            </div>
        </div>
        <div class='game-touch-area game-touch-area-left'>
            <a class='game-touch-area-link' ng-click="sideTouchAreasDisabled || 
        playGameAttributeController.playerTouch(playGameAttributeController.leftTouchItem.attribute_category_id)">
                <img class='game-touch-area-attribute-image game-touch-area-left-attribute' ng-src="img/game_images/{{playGameAttributeController.leftTouchItem.name}}.png" />
            </a>
        </div>
        <div class='game-middle-screen'>
            <div ng-show="showStimulus" class='game-stimulus-text'>
                <span>{{playGameAttributeController.displayedItem.name}}</span>
            </div>
            <div class='game-error' ng-show="showError">X</div>
            <!--<div class='game-nav-buttons'>
                <a href="#/play" class="game-nav-btn btn-base">New Game</a>
                <a href="#/main-menu" class="game-nav-btn btn-base">Main Menu</a>
            </div>-->
        </div>

        <div class='game-touch-area game-touch-area-right'>
            <a class='game-touch-area-link' ng-click="sideTouchAreasDisabled || 
        playGameAttributeController.playerTouch(playGameAttributeController.rightTouchItem.attribute_category_id)">
                <img class='game-touch-area-attribute-image game-touch-area-right-attribute' ng-src="img/game_images/{{playGameAttributeController.rightTouchItem.name}}.png" />
            </a>
        </div>
    </div>
    <navigation></navigation>
</div>