<div class="container-fluid header-wide">
    <div class='div-center-content header'>
        <h1>My Profile</h1>
    </div>
</div>
<div class="container-fluid content-full content-full-width">
    <div class='my-profile-export-notification div-center-content' ng-show="exportNotification">
        <div class='my-profile-export-notification-message'><br />{{exportMessage}}</div>
        <img ng-show="exportNotificationLoaderGif" src="img/ajax-loader.gif" />
    </div>
    <br />
    <div class='my-profile-text'>
        <div class='my-profile-export'><img ng-click="myProfileController.exportData()" src="img/save.png" /></div>
        <table class='my-profile-table'>
            <tr>
                <td>
                    Total points:
                </td>
                <td>
                    {{myProfileController.playerInfo.total_points}}
                </td>
            </tr>
            <tr>
                <td>
                    High score:
                </td>
                <td>
                    {{myProfileController.highScore}}
                </td>
            </tr>
            <tr>
                <td>
                    Current level:
                </td>
                <td>
                    {{myProfileController.playerInfo.level}} / 35
                </td>
            </tr>
        </table>
        <!--
        <span ng-repeat="playedGame in myProfileController.playedGames track by $index">
                        {{playedGame.total_points}}    
        </span>-->

        <div class='my-profile-chart-tabs'>
            <div class='my-profile-chart-tabs-links'>
                <div class='my-profile-chart-tabs-link-container'><a class='my-profile-chart-tabs-link' ng-class="{active: activeChartTab === 'points'}" ng-click="myProfileController.switchTab('points')">Points</a></div>
                <div class='my-profile-chart-tabs-link-container'><a class='my-profile-chart-tabs-link' ng-class="{active: activeChartTab === 'reactionTime'}" ng-click="myProfileController.switchTab('reactionTime')">Reaction Time</a></div>
                <div class='my-profile-chart-tabs-link-container'><a class='my-profile-chart-tabs-link' ng-class="{active: activeChartTab === 'correctResponses'}" ng-click="myProfileController.switchTab('correctResponses')">Correct Answers</a></div>

            </div>
            <br />
            <br />
            <div ng-switch="activeChartTab">
                <div ng-switch-when="points">
                    <canvas id="pointsLine" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick"></canvas>
                </div>
                <div ng-switch-when="reactionTime">
                    <canvas id="reactionTimeLine" class="chart chart-line" chart-data="reactionTimeData" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick"></canvas>
                </div>
                <div ng-switch-when="correctResponses">
                    <canvas id="correctResponsesLine" class="chart chart-line" chart-data="correctResponsesData" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>

        <br />
        <!--
        <div class='div-center-content'>
            <a href="#/play" class="my-profile-btn btn-base">New Game</a>
            <a href="#/main-menu" class="my-profile-btn btn-base">Main Menu</a>
            <a href="#/about" class="my-profile-btn btn-base">About</a>
        </div>-->
        <!--
        <span ng-repeat="playedGame in myProfileController.playedGames track by $index">
                        {{playedGame}}    
        </span>-->

        <!--  <span ng-repeat="round in roundData track by $index">
                        {{round}}    
        </span>-->

    </div>
    <br />

    <navigation></navigation>

</div>