<div class="container-fluid header-wide">
    <div class='center-content header'>
        <h1>My Profile</h1>
    </div>
</div>
<div class="container-fluid content-full content-full-width">
    <div class='my-profile-export-notification center-content' ng-show="exportNotification">
        <div class='my-profile-export-notification-message'>
            <br />Do you want to send your game history for research purposes?                       
            <br />             
             <a href="" ng-click='myProfileController.confirmExportData()' class="btn-base">Yes, send data</a>&nbsp;<a href="" ng-click='myProfileController.closeExportNotification()' class="btn-base">No, don't send</a>             
             {{exportMessage}}
            <br />
            
            
        </div>
        <img ng-show="exportNotificationLoaderGif" src="img/ajax-loader.gif" />
    </div>
    <div class='my-profile-delete-notification center-content' ng-show="deleteNotification">
        <div class='my-profile-delete-notification-message'><br />This action will reset your profile. All progress will be erased.
            <br />
            <br />
            <a href="" ng-click='myProfileController.confirmProfileReset()' class="btn-base">Delete</a>&nbsp;<a href="" ng-click='myProfileController.closeDeleteNotification()' class="btn-base">Cancel</a>
            <br />
        </div>

    </div>
    <br />
    <div class='my-profile-text'>
        <div class='my-profile-icons'>
            <img ng-click="myProfileController.exportData()" src="img/save.png" /><br />
            <img ng-click="myProfileController.resetProfile()" src="img/delete.png" />
        </div>
        <table class='my-profile-table'>
            <tr>
                <td>
                    Total points:
                </td>
                <td>
                    {{myProfileController.playerInfo.total_points}}
                </td>
            </tr>
            <tr>
                <td>
                    High score:
                </td>
                <td>
                    {{myProfileController.highScore}}
                </td>
            </tr>
            <tr>
                <td>
                    Current level:
                </td>
                <td>
                    {{myProfileController.playerInfo.level}} / 35
                </td>
            </tr>
             <tr>
                <td>
                    My id:
                </td>
                <td>
                    {{myProfileController.playerInfo.unique_id}}
                </td>
            </tr>
        </table>

        <div class='my-profile-chart-tabs'>
            <div class='my-profile-chart-tabs-links'>
                <div class='my-profile-chart-tabs-link-container'><a class='my-profile-chart-tabs-link' ng-class="{active: activeChartTab === 'points'}" ng-click="myProfileController.switchTab('points')">Points</a></div>
                <div class='my-profile-chart-tabs-link-container'><a class='my-profile-chart-tabs-link' ng-class="{active: activeChartTab === 'reactionTime'}" ng-click="myProfileController.switchTab('reactionTime')">Reaction Time</a></div>
                <div class='my-profile-chart-tabs-link-container'><a class='my-profile-chart-tabs-link' ng-class="{active: activeChartTab === 'correctResponses'}" ng-click="myProfileController.switchTab('correctResponses')">Correct Answers</a></div>
            </div>
            <br />
            <br />
            <div ng-switch="activeChartTab">
                <div ng-switch-when="points">
                    <canvas id="pointsLine" class="chart chart-line" chart-data="pointsData" chart-labels="labels" chart-series="series" chart-options="optionsPoints" chart-click="onClick"></canvas>
                </div>
                <div ng-switch-when="reactionTime">
                    <canvas id="reactionTimeLine" class="chart chart-line" chart-data="reactionTimeData" chart-labels="labels" chart-series="series" chart-options="optionsReactionTime" chart-click="onClick"></canvas>
                </div>
                <div ng-switch-when="correctResponses">
                    <canvas id="correctResponsesLine" class="chart chart-bar" chart-data="correctResponsesData" chart-labels="labels" chart-series="series" chart-options="optionsCorrectResponses" chart-click="onClick"></canvas>
                </div>
            </div>
        </div>
        <br />
        <div class='center-content'>
            <a href="#/my-profile-unlocked-foods" class="btn-base">Unlocked Foods</a>
        </div>
        <br />
    </div>
    <br />

    <navigation></navigation>

</div>