<div class="container-fluid header-wide">
    <div class='div-center-content header'>
        <h1>My Profile</h1>
    </div>
</div>
<div class="container-fluid content-full">
    <div class='my-profile-export-notification div-center-content' ng-show="exportNotification">
        <div class='my-profile-export-notification-message'>{{exportMessage}}</div>
    </div>
    <br />
    <div class='my-profile-text'>
        <div class='my-profile-export'><img ng-click="myProfileController.exportData()" src="img/save.png" /></div>
        <table class='my-profile-table'>
            <tr>
                <td>
                    Total points:
                </td>
                <td>
                    {{myProfileController.playerInfo.total_points}}
                </td>
            </tr>
            <tr>
                <td>
                    High score:
                </td>
                <td>
                    {{myProfileController.highScore}}
                </td>
            </tr>
            <tr>
                <td>
                    Current level:
                </td>
                <td>
                    {{myProfileController.playerInfo.level}} / 35
                </td>
            </tr>
        </table>
        <!--
        <span ng-repeat="playedGame in myProfileController.playedGames track by $index">
                        {{playedGame.total_points}}    
        </span>-->

        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-click="onClick">
</canvas>
        <br />
        <!--
        <div class='div-center-content'>
            <a href="#/play" class="my-profile-btn btn-base">New Game</a>
            <a href="#/main-menu" class="my-profile-btn btn-base">Main Menu</a>
            <a href="#/about" class="my-profile-btn btn-base">About</a>
        </div>-->
        <!--
        <span ng-repeat="playedGame in myProfileController.playedGames track by $index">
                        {{playedGame}}    
        </span>-->

        <!--  <span ng-repeat="round in roundData track by $index">
                        {{round}}    
        </span>-->

    </div>
    <br />

    <navigation></navigation>
    <!--
    <div class='div-center-content navigation-bottom'>
        <div class='navigation-bottom-left'><a href="#/play" ng-class="{active: route.current.activetab === 'play'}" class="navigation-bottom-btn">Play</a></div>
        <div class='navigation-bottom-center'><a href="#/my-profile" ng-class="{active: route.current.activetab === 'profile'}" class="navigation-bottom-btn">My Profile</a></div>
        <div class='navigation-bottom-right'><a href="#/about" ng-class="{active: route.current.activetab === 'about'}" class="navigation-bottom-btn">About</a></div>
    </div>
    -->
</div>