/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Verdana', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.header {
    margin-top: 15px;
    background-color: #88e348;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #18ab29;
}

.main-menu {
    margin-top: 15px;
    background-color: #a0ed69;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 25px;
    border: 1px solid #18ab29;
}

.btn-base {
    background-color: #89e34a !important;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 3px solid #18ab29;
    display: inline-block;
    color: #000000;
    text-decoration: none !important;
    text-align: center;
    padding: 20px 31px;
    outline: none;
    font-weight: bold;
}

.btn-base:active {
    background-color: #5cbf2a !important;
    position: relative;
    top: 1px;
    text-decoration: none !important;
}

.btn-base:visited {
    color: #000000;
}

.results-btn {
    width: 45%;
    font-size: 16px !important;
}

.center-text {
    text-align: center;
}

.main-menu-btn {
    margin-top: 40px;
    width: 70%;
    font-size: 24px !important;
}

.first-row {
    margin-top: 12px;
}

.last-row {
    margin-bottom: 12px;
}

.div-center-content {
    text-align: center;
}

.game-type-text {
    font-size: 16px;
    border: 1px black solid;
    width: 50%;
    padding: 5px;
    background: rgba(160, 237, 105, 1);
    float: left;
    height: 250px;
}

.game-instructions-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background: rgba(160, 237, 105, 0.4);
}

.game-instructions-overlay-header {
    text-align: center;
}

.game-instructions-overlay-content {
    position: relative;
    font-size: 16px;
    border: 1px black solid;
    /*width: 200px;*/
    padding: 5px;
    top: 25%;
    width: 75%;
    padding: 5px;
    margin: 0 auto;
    background: rgba(160, 237, 105, 1);
}

.game-type-header {
    text-align: center;
}

.game-type-paragraph {
    margin-left: 20px;
}

.game-instructions-text {
    font-size: 16px;
    border: 1px black solid;
    width: 100%;
    padding: 5px;
    background: rgba(160, 237, 105, 1);
}

.game-instructions-text-table {
    background: rgba(160, 237, 105, 1);
    width: 100%;
    table-layout: fixed;
}

.game-instructions-text-table-button {
    text-align: center;
    border: 0px;
}

.game-instructions-text-table td {
    background: rgba(160, 237, 105, 1);
    border: 1px black solid;
    padding: 2px;
}

.game-instructions-text-table th {
    background: rgba(160, 237, 105, 1);
    border: 1px black solid;
    text-align: left;
    padding: 2px;
}

.game-instructions-start-btn {
    margin-top: 20px;
    width: 70%;
    font-size: 24px !important;
}

.game-type-select-btn {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
    font-size: 24px !important;
    padding: 8px !important;
}

.game-instructions-attribute-table-container {
    width: 100%;
}

.game-instructions-attribute-table {
    background: rgba(160, 237, 105, 1);
    width: 50%;
    table-layout: fixed;
    float: left;
}

.game-instructions-attribute-table-word td {
    height: 65px;
    vertical-align: top;
}

.game-instructions-food-table {
    background: rgba(160, 237, 105, 1);
    width: 100%;
    table-layout: fixed;
    height: 80px;
}

.game-instructions-food-table td,
.game-instructions-attribute-table td {
    width: 64px;
    border: 1px black solid;
    padding: 2px;
}

.game-instructions-food-table th,
.game-instructions-attribute-table th {
    border: 1px black solid;
    text-align: center;
    font-size: 16px;
}

.game-container {
    padding-top: 25px;
    height: 100%;
    width: 100%;
}

.game-content {
    background-color: #b9f58e;
    width: 100%;
    height: 100%;
}

.game-touch-area {
    border-top: 2px green solid;
    width: 25%;
    background-color: #6fd027;
    height: 100%;
    /*display: inline-block;*/
}

.game-touch-area-left {
    border-right: 2px green solid;
    float: left;
}

.game-touch-area-right {
    border-left: 2px green solid;
    float: right;
}

.game-middle-screen {
    border-top: 2px green solid;
    float: left;
    height: 100%;
    position: relative;
    /*display: inline-block;*/
    width: 50%;
    background-color: #a0ed69;
}

.game-touch-area-left-attribute {
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 100;
    font-size: 19px;
}

.game-touch-area-right-attribute {
    position: absolute;
    top: 10%;
    right: 1%;
    z-index: 100;
    font-size: 19px;
}

.game-touch-area-attribute-image {
    width: 75px;
}

.game-nav-buttons {
    width: 100%;
    padding: 5px;
}

.game-nav-btn {
    width: 47%;
    padding: 10px 0px 5px 0px !important;
}

.game-stimulus {
    border-radius: 4px;
    background-color: #6fd027;
    position: absolute;
    left: 15%;
    top: 30%;
}

.game-stimulus-text {
    font-size: 32px;
    position: absolute;
    left: -5%;
    top: 45%;
    text-align: center;
    width: 200px;
}

.game-error {
    position: absolute;
    font-size: 48px;
    color: red;
    text-align: center;
    left: 45%;
    top: 55%;
}

.game-stimulus-image {
    border: 2px green solid;
    padding: 5px;
}

.game-points {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 10%;
}

.content-full {
    /*width: 100%;*/
    /*background-color: #a0ed69;*/
    background: rgba(160, 237, 105, 0.85);
    border-bottom: 3px solid #18ab29;
    border-top: 3px solid #18ab29;
}

.content-game {
    /*width: 100%;*/
    height: 90%;
    background-color: #a0ed69;
    border-bottom: 1px solid #18ab29;
    border-top: 1px solid #18ab29;
}

.content-margins {
    margin-left: 5%;
    background-color: #a0ed69;
}


/*
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
    body {
        background: url(../img/background480.jpg);
    }
    .header-narrow {
        width: 300px;
        /*width: 80%;*/
    }
    .header-wide {
        width: 320px;
    }
    .main-menu {
        width: 300px;
        /*width: 80%;*/
    }
    .image-instructions-food {
        width: 50px;
    }
    .game-stimulus-image {
        width: 130px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background: url(../img/background768.jpg);
    }
    .header-narrow {
        width: 60%;
    }
    .header-wide {
        width: 90%;
    }
    .main-menu {
        width: 60%;
    }
    .image-instructions-food {
        width: 80px;
    }
    .game-stimulus-image {
        width: 170px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background: url(../img/background992.jpg);
    }
    .header-narrow {
        width: 40%;
    }
    .header-wide {
        width: 80%;
    }
    .main-menu {
        width: 40%;
    }
    .image-instructions-food {
        width: 120px;
    }
    .game-stimulus-image {
        width: 200px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    body {
        background: url(../img/background.jpg) no-repeat center center fixed;
    }
    .header-narrow {
        width: 40%;
    }
    .header-wide {
        width: 80%;
    }
    .main-menu {
        width: 40%;
    }
    .image-instructions-food {
        width: 180px;
    }
    .game-stimulus-image {
        width: 250px;
    }
}